---
layout: default
permalink: /publications/
title: "Publications"
---

<h1>Publications</h1>

{% assign pub_lang = "en" %}

<h2>Articles</h2>
{% for section in site.data.publications.sections %}
  {% assign section_title = section.title.en %}
  {% if section_title == "Journal Articles" or section_title == "Technical Articles" or section_title == "Preprints" %}
    {% for item in section.entries %}
      {% include publication_item.html item=item pub_lang=pub_lang %}
    {% endfor %}
  {% endif %}
{% endfor %}

{% for section in site.data.publications.sections %}
  {% assign section_title = section.title.en %}
  {% if section_title == "Patents" %}
    <h2>Patents</h2>
    {% for item in section.entries %}
      {% include publication_item.html item=item pub_lang=pub_lang %}
    {% endfor %}
  {% endif %}
{% endfor %}
