<nav class="profile-nav{% if include.variant %} {{ include.variant }}{% endif %}">
    <a class="profile-brand" href="{{ '/' | relative_url }}">{{ site.name }}</a>
    <div class="profile-nav-links">
        <a href="{{ '/' | relative_url }}">Home</a>
        <a href="{{ '/about.html' | relative_url }}">About</a>
        <a href="{{ '/projects.html' | relative_url }}">Projects</a>
        <a href="{{ '/publications.html' | relative_url }}">Publications & Patents</a>
        <a href="{{ '/blog.html' | relative_url }}">Miscellaneous</a>
    </div>
</nav>
