---
layout: default
post_class: post-template page-template
---

<header class="main-header post-head {% if page.cover %}"
    style="background-image: url({{ page.cover }}) {%else%}no-cover{% endif %}">
    <nav class="profile-nav page-nav">
        <a class="profile-brand" href="{{ '/' | relative_url }}">{{ site.name }}</a>
        <div class="profile-nav-links">
            <a href="{{ '/' | relative_url }}">Home</a>
            <a href="{{ '/about.html' | relative_url }}">About</a>
            <a href="{{ '/projects.html' | relative_url }}">Projects</a>
            <a href="{{ '/publications.html' | relative_url }}">Publications & Patents</a>
            <a href="{{ '/blog.html' | relative_url }}">Miscellaneous</a>
        </div>
    </nav>
</header>


<main class="content" role="main">
    <article class="post">
        <h1 class="post-title">{{ page.title }}</h1>

        <section class="post-content">
            {{content}}
        </section>

    </article>

</main>
